<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="base :: head">
    <title>Planes de salud</title></head>
<body>
<!--
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#">Mi Aplicación</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/healthplans/create">Crear Plan de Salud</a>
                </li>
            </ul>
        </div>
    </div>
</nav> -->
<div class="container mt-5">
    <h2 class="mb-4">Lista de Planes de Salud</h2>
    <button class="btn btn-primary mb-2" onclick="location.href='/'">Volver atras</button>
    <button class="btn btn-primary mb-2" onclick="location.href='/healthplans/create'">Crear Plan de Salud</button>
    <div class="form-inline my-2 my-lg-0">
        <div class="input-group mb-3">
            <input class="form-control mr-sm-2"
                   type="search"
                   placeholder="Buscar por nombre de la clinica o nombre de plan"
                   aria-label="Search"
                   name="search-input"
                   id="search-input"
                   th:value="${filter}"
            >
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" th:onclick="'javascript:search()'">Buscar</button>
        </div>
    </div>
    <div class="alert alert-secondary" role="alert">
        <div class="d-flex justify-content-start">
            <p class="m-1">Total de planes de salud:<span class="m-1" th:text="${totalElements}"></span></p>
            <p class="m-1" th:if="${filter != ''}">con el filtro:<span class="m-1" th:text="${filter}"></span></p>
        </div>
    </div>
    <table class="table table-dark table-hover">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombre del plan</th>
            <th scope="col">Clinicas</th>
            <th scope="col">Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="healthplan : ${healthplans}">
            <td th:onclick="'javascript:rowClicked(\'' + ${healthplan.id} + '\');'"
                style="cursor: pointer" th:text="${healthplan.id}"></td>
            <td th:text="${healthplan.namePlan}"></td>
            <td th:text="${healthplan.clinics}"></td>
            <td>
                <button class="btn btn-primary mr-2" th:onclick="'javascript:rowUpdate(\'' + ${healthplan.id} + '\');'">
                    Editar
                </button>
                <button class="btn btn-danger" th:onclick="'javascript:rowDelete(\'' + ${healthplan.id} + '\');'">
                    Eliminar
                </button>
            </td>
        </tr>
        </tbody>
    </table>

    <div th:if="${totalPages > 1}">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item" th:class="${first} ? 'disabled' : ''">
                    <a class="page-link" th:href="@{'/healthplans?filter=' + ${filter} + '&page=' + ${page - 1}} " th:if="${!first}">Anterior</a>
                    <span class="page-link" th:if="${first}">Anterior</span>
                </li>
                <li class="page-item" th:each="i : ${#numbers.sequence(1, totalPages)}">
                    <a class="page-link" th:href="@{'/healthplans?filter=' + ${filter} + '&page=' + ${i - 1}}" th:text="${i}"></a>
                </li>
                <li class="page-item" th:class="${last} ? 'disabled' : ''">
                    <a class="page-link" th:href="@{'/healthplans?filter=' + ${filter} + '&page=' + ${page + 1}}" th:if="${!last}">Siguiente</a>
                    <span class="page-link" th:if="${last}">Siguiente</span>
                </li>
            </ul>
        </nav>
    </div>
</div>
<footer th:replace="base :: footer"></footer>
<script>
    function rowClicked(id) {
        location.href = "/healthplans/" + id;
    }

    function rowUpdate(id) {
        location.href = "/healthplans/update/" + id;
    }

    function rowDelete(id) {
        const filter = document.getElementById("search-input").value;
        fetch("/healthplans/" + id, {
            method: "DELETE"
        }).then(response => {
            if (response.ok) {
                location.href = "/healthplans?filter=" + filter + "&page=0";
            }
        });
    }

    function search() {
        const filter = document.getElementById("search-input").value;
        fetch("/healthplans?filter=" + filter + "&page=0")
            .then(response => {
                if (response.ok) {
                    location.href = "/healthplans?filter=" + filter + "&page=0";
                } else {
                    alert("No se encontraron resultados");
                }
            }
        );
    }

</script>
</body>
</html>