<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="base :: head">
    <title>Editar Clinica</title>
</head>
<body>

<div class="container mt-5">
    <h2 class="mb-4">Editar Clinica</h2>

    <form id="updateForm">
        <div class="form-group">
            <label for="namePlan">Nombre del plan</label>
            <input type="text" class="form-control" id="namePlan" th:value="${clinic.namePlan}" required>
            <div class="invalid-feedback">Por favor, ingrese el nombre de la clinica</div>

            <label for="documentPath">Id de la zona</label>
            <input type="text" class="form-control" id="documentPath" th:value="${clinic.documentPath}" required>
            <div class="invalid-feedback">Por favor, ingrese el ID de la zona</div>

            <label for="providerId">ID del plan de salud</label>
            <input type="text" class="form-control" id="providerId" th:value="${clinic.healthPlanId}" required>
            <div class="invalid-feedback">Por favor, ingrese el ID del plan de salud</div>

            <button type="submit" class="btn btn-primary mt-2" onclick="updateClinic()">Actualizar</button>
        </div>
    </form>
    <button onclick="location.href='/clinics'" class="btn btn-primary mt-2">Volver a la Lista</button>
</div>
<footer th:replace="base :: footer"></footer>
<script th:inline="javascript">
    function updateClinic() {
        var clinic = {
            id: [[${clinic.id}]],
            nameClinic: document.getElementById('nameClinic').value,
            zoneId: document.getElementById('zoneId').value,
            healthPlanId: document.getElementById('healthPlanId').value
        };

        fetch('/clinics/' + clinic.id, {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(clinic)
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Error al actualizar el plan de salud');
                }
                alert('Plan de salud actualizado correctamente');
                window.location.href = '/clinics/' + clinic.id;
            })
            .catch(error => {
                console.error('Error:', error);
            });
    }
</script>
</body>
</html>
